// Colours
$onyx: #39393A;
$spanish-blue: #1c77c3;
$max-blue: #40bcd8;
$medium-champagne: #efe4b2;
$unbleached-silk: #fad7c7;
$silk-but-brighter: #FFF1EB41;

// Fonts
$monda: 'Monda', sans-serif;
$lato: 'Lato', sans-serif;

// Grid setup
$columns: repeat(9, 1fr);
$gap: 20px;

// CSS
html, * {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.gradient-border-line {
  height: 5px;
  width: 100vw;
  background: linear-gradient(90deg, $medium-champagne 0%, $max-blue 50%, $unbleached-silk 100%);
}

nav {
  font-family: $monda;
  display: grid;
  grid-template-columns: $columns;
  column-gap: $gap;
  margin-top: 10px;

  @media (min-width: 1400px) {
    grid-template-columns: 3fr repeat(7, 1fr) 3fr;
  }

  p {
    grid-column: 2/5;
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  ul {
    display: flex;
    grid-column: 6/9;
    
    li {
      list-style-type: none;
      padding-left: 25px;
      font-size: 1.125rem;

      a {
        text-decoration: none;
        color: $onyx;
        cursor: pointer;
        transition: border-bottom 150ms ease-in;

        &:hover {
          text-shadow: 2px 2px 5px $medium-champagne;
          border-bottom: 5px solid $medium-champagne;
        }
      }

      &:nth-child(2) {
        &::before, &::after {
          content: '*';
          padding: 0 25px;
        }
      }
    }
  }
}

main {
  margin-top: 50px;
  display: grid;
  grid-template-columns: $columns;
  grid-gap: $gap;
  font-family: $lato;

  @media (min-width: 1400px) {
    grid-template-columns: 3fr repeat(7, 1fr) 3fr;
  }

  .top {
    grid-column: 2/6;
    border-left: 5px solid $spanish-blue;
    padding: 30px;
    position: relative;

    h1 {
      font-size: 2.25rem;
      color: $spanish-blue;
    }

    h3 {
      font-weight: 400;
      font-size: 1.5rem;
      padding: 30px 0;
    }

    p {
      font-family: $monda;
      font-size: 0.75rem;
      font-weight: 400;
    }
  }

  .image {
    grid-column: 6/9;
    display: flex;
    align-items: center;
    
    img {
      max-width: 100%;
    }
  }
}

.projects {
  background-color: $silk-but-brighter;
  min-height: 200px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: $gap;
  padding: 40px 0;
  font-family: $lato;
  font-weight: 400;

  @media (min-width: 1400px) {
    grid-template-columns: 3fr repeat(7, 1fr) 3fr;
  }
  
  h2 {
    font-size: 2.25rem;
  }

  p {
    font-size: 1rem;
    padding-top: 20px;
  }

  .date {
    font-family: $monda;
    font-size: 0.8rem;
  }

  img {
    max-width:100%;
    border-radius: 10px;
    box-shadow: 2px 2px 4px $onyx;
  }

  .first-project {
    grid-column: 2/7;
    display: flex;

    img {
      transition: all 800ms ease;
    }

    &:hover{
      img {
        box-shadow: 0 0 10px $max-blue;
      }

      p {
        text-decoration: underline;
      }
    }

    .image {
      flex: 1.5;

      img {
        max-width: 100%;
      }
    }

    .text-wrapper {
      display: flex;
      flex-direction: column;
      flex:1;
      position: relative;
      margin-left: 20px;

      h2 {
        margin-bottom: 10px;
        flex: 1;
      }

      p {
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 5;
        padding-top: 10px;
      }

      .date {
        font-family: $monda;
        font-size: 0.8rem;
      }
    }
  }

  .second-project {
    grid-column: 7/9;
    display: flex;
    flex-direction: column;
    max-height: 100%;

    img {
      transition: all 800ms ease;
    }

    &:hover{
      img {
        box-shadow: 0 0 10px $max-blue;
      }

      p {
        text-decoration: underline;
      }
    }

    .image {
      max-width: 100%;
    }

    .date {
      justify-items: flex-end;
    }
  }

  .other-projects {
    grid-row: 2/3;
    grid-column: 2/9;
    display: flex;
    justify-content: space-between;

    .other-project {
      width: 100%;
      
      img {
        transition: all 800ms ease;
      }

      &:hover{
        img {
          box-shadow: 0 0 10px $max-blue;
        }

        p {
          text-decoration: underline;
        }
      }

      &:nth-child(2) {
        margin: 0 30px;
      }
    }
  }
}

footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $monda;
  font-size: 1rem;
}
